---
title: Double Pickle
---



<img src="/images/doublepickle.png"/>

<h1>Double Pickle</h1>

<h2>A</h2>
<p>Brine</p>

<h2>B</h2>
<p>Pickle</p>

<h2>C</h2>
<p>Jar</p>

<h2>Abstract</h2>
<p>Double Pickle is a process for pickling any object (preferably a cumcumber) two times. <p>Once an object has been pickled, remove object from Brine<sup>A</sup> and Jar<sup>C</sup>, expose to air, then place back in  Jar<sup>C</sup></p>
