---
title: MyJacketTM
---


<style>
  body {
  	background-color: #FBFBFA;
  	font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif
  }
  .flex {
  	display: flex;
  }
  .left, .right {
  	font-size: 14px;
  	color: #656969;
  	border: 1px solid #DCDEDD;
  	padding: 20px;
  	background-color: #fff;
  	box-sizing: border-box;
    	text-align: left;
  }

  .button {
  	color: #fff;
  	background: rgba(0, 158, 116, 0.9);
  	display: block;
  	text-decoration: none;
  	width: 100%;
  	padding: 20px;
  	margin: auto;
  	font-size: 16px;
  	box-sizing: border-box;
    text-align:center;
  }
  .green {
  	color: rgba(0, 158, 116, 0.9);
  }
  .bar-box {
  	width: 100%;
  	height: 32px;
  	border: 1px solid #DCDEDD;
  	box-sizing: border-box;
  	margin: auto;
  }
  .bar {
  	height: 32px;
  	width: 10%;
  	background: rgba(0, 158, 116, 0.9);
  }
  .left {
  	width: 60%;
  }
  .right {
  	width: 40%
  }
  .left{
    line-height:1.35;
  }

  @media screen and (max-width: 800px) {
  .flex{display:block;}
  .left {
    width: 100%;
  }
  .right {
    width: 100%
  }

}

  h2{
    font-weight:500;
    font-size:36px;
    margin:30px 0 0 0;
    padding:0;
    line-height:.9;
  }
  h32{
    font-weight:500;
    font-size:20px;
    padding:0;
  }
  img {
  	max-width: 700px;
  	width: 100%;
  }
  .contain{
    max-width:600px;
    width:100%;
    margin:auto;

  }
  .contain p{
    font-size: 1rem;
    line-height: 1.4rem;
  }
  small{color:#ccc;}
</style>
<div class="contain">
<h1>MyJacket™</h1>

<p> American-made* out of NASA-grade* canvas material, featuring every feature you could ever want in a jacket. Even a built-in battery. </p>
</div>
<div class="flex">
<div class="left">

<h3>About</h3>
<p>The perfect jacket for every occasion. After you wear it, you'll never want to go anywhere without it. Whether you're hiking up a very cool mountain, or hiking down that very same cool mountain. This is the jacket for you.</p>
<p>
MyJacket™  is now coated in an insulated rubber material!<br/>
MyJacket™ is now also an inflatable life jacket!&#8224;<br/>

</p>

<h3>Features</h3>

<img src="/images/jacket-front.png"/>


<img src="/images/jacket-back.png"/>

<h3>Disclaimers</h3>
<p>This is just boring stuff we're legally required to post. Scroll back up for more exciting features.</p>
<p> <small>* American-made and NASA-grade are brand names owned by MyJacket™. They do not imply that MyJacket™ is made in America or associated with NASA in any way. If you think that, that is your fault.</small></p>
<p> <small>&#8224; Numerous customers of MyJacket™ simultaneously drowned due to the jacket weight and were electrocuted by the handy battery charging pack. Wear MyJacket™ at your own risk.</small></p>
</div>

<div class="right">

<div class="bar-box">
  <div class="bar">
  </div>
</div>

<h2 class="green">$1,246,338</h2>

<p>pledged of <span class="money">$10,246,338</span> goal</p>

<p><h2>71,169</h2><br/> backers</p>

<p><h2>1,245</h2><br/> days to go</p>

<a href="/" class="button">Back this project</a></div>

</div>
