---
title: Nail in Wood Bottle Opener
---

<meta property="og:title" content="Nail in Wood Bottle Opener" />
<meta property="og:description" content="It's just a Nail in Wood! And it opens a bottle!
And it's $25.90! You stupid fucking idiot!" />
<meta property="og:image" content="/images/nail.png" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Nail in Wood Bottle Opener" />
<meta name="twitter:description" content="It's just a Nail in Wood! And it opens a bottle!
And it's $25.90! You stupid fucking idiot!" />
<meta name="twitter:image" content="https://internetwebsite.company/images/nail.png" />

<style>

  @import url('https://fonts.googleapis.com/css?family=Chivo:300,400,400i,700,900&display=swap');
#home{
  font-size:1rem;
}
body{
  font-family:"Chivo",arial;
  text-align:left;
    font-size:5rem;
    font-weight:100;
    line-height:1;

    margin:20px 60px;

background:#fff;
color:#3f3f3f;}

.st0{fill:#fff;}
.st1{fill:#3f3f3f;}

img{max-width:900px;
width:100%;}

.asshole{
  cursor:pointer;
  position:fixed;
  z-index:2;
right:40px;
bottom:40px;
text-align:center;
color:#fff;
background:#3f3f3f;
border:10px solid #3f3f3f;
border-radius:100%;
box-sizing: border-box;
width:150px;
height:150px;
padding-top:40px;
line-height:.05;
}

.asshole:hover{
  background:#fff;
  color:#3f3f3f;
}
.asshole b{
  font-size:2rem;
}
.asshole span{
  font-size:.5rem;
  font-weight:100;
}

.buyit{
  margin:5rem 0;
  cursor:pointer;
display:inline-block;
text-align:center;
color:#fff;
background:#3f3f3f;
border:10px solid #3f3f3f;

box-sizing: border-box;
padding:3rem;
font-size:.5em;
font-weight:900;


}
.buyit:hover{
  background:#fff;
  color:#3f3f3f;
}


.flash{
animation:flashing .75s infinite;

}

@keyframes flashing {
0% {
  background:#fff;
  color:#3f3f3f;
}
50% {
  color:#fff;
  background:#3f3f3f;
}

100% {
  background:#fff;
  color:#3f3f3f;
}
}

h1{
  font-size:8rem;
  font-weight:900;
  line-height:.9;
}
h1 span{
  font-weight:100;

}
.beer{
  width:400px;float:right;padding:50px;
}

.price{
  width:220px;position:absolute; z-index:1;bottom:10px;right:10px;
}




/* borders */
#top, #bottom, #left, #right {
  background: #3f3f3f;
  position: fixed;
  z-index:5;
}

#left, #right {
  top: 0;
  bottom: 0;
  width: 10px;

}

#left {
  left: 0;
}

#right {
  right: 0;
}

#top, #bottom {
  left: 0;
  right: 0;
  height: 10px;
}

#top {
  top: 0;
}

#bottom {
  bottom: 0;
}


@media screen and (max-width: 800px) {
  body{

        margin:10px 20px;
      font-size:2rem;
}
h1{
  font-size:3rem;

}
.asshole{
  padding-top:50px;
  line-height:.5;
}
.beer{
  width:80%;
float:none;
padding:0;
}


.price{
  width:120px;
}


.buyit{

padding:1rem;}

</style>


<div class="asshole">
    <b>$25.90</b>
    <br/>
    <span>you fucking idiot</span>
</div>

<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>

<h1>Nail in Wood <br><span>Bottle Opener</span></h1>


<img src="/images/beer.jpg" class="beer"/><p>It's just a Nail in Wood! And it opens a bottle!</p>

<p>And it's <b>$25.90</b>! You stupid fucking idiot!</p>



<a class="buyit">Buy it!</a>

<p>Buy this opener. It costs <b>$25.90</b> and it's a fucking nail and a piece of fucking wood.</p>

<div style="position:relative;">
<img src="/images/wood-nail.jpg"/>
<img src="/images/metal-wood.jpg" class="price"/>

</div>

<p>You dumb asshole.</p>



<p>I can't believe you're going to buy this for <b>$25.90</b>, but buy this fucking thing.</p>

<a class="buyit">Buy it already!</a>

<p>It took like <b>2 minutes</b> to make. It's a nail and wood. And I'm tricking you into to buying a $2 item for <b>$25.90</b>. But it's rustic and it will look like your dumb rustic kitchen shit. So buy it, dumbass.</p>

<a class="buyit">Buy it now!</a>

<p>Why are we still here?<br/>
I made it. You buy it.<br/>
It's a stupid fucking thing that you need to put in your stupid fucking house. Let's go!!!</p>

<a class="buyit flash">Buy it! Buy it! Buy it!</a>

<p>AHHHH!!!!</p>

<p>AHHHHHHH!!!!</p>

<p>AHHHHHHHHH!!!!</p>


<a class="buyit flash">AHHHHHH AHHHHHH AHHHHHHH!!!!</a>
