---
title: So sorry to inform you, have purchased an orange car.
---

<style>

body{
  background:#fff;
}
  #grid{
    max-width:500px;
    margin:auto;
  }

  #grid img{width:100%}
</style>



  <div id="grid"></div>

  <script>

    var photos = [
    "dotheyknow.png",
    "IMG_1368.jpeg",

    // keep this the first image

    "IMG_6719.JPG",
    "IMG_6725.JPG",
    "IMG_9601.jpeg",
    "IMG_1352.jpeg",
    "IMG_9624.jpeg"

  ];




  var i;



    for (i = 0; i < photos.length; i++) {




      var gridItem = '<div id="'
          + photos[i] +
          '" class="grid-item"><img src="images/orange/'
          + photos[i] +
          '"/></div></div>';


    $( "#grid").append( gridItem );






    }




  </script>
