---
title: What's the name of that company?
---


<style type="text/css">



  svg:not(:root).svg-inline--fa{overflow:visible;}
  .svg-inline--fa{display:inline-block;font-size:inherit;height:1em;overflow:visible;vertical-align:-.125em;}
  .svg-inline--fa.fa-w-18{width:1.125em;}
  body,div,h1,h2,p,a,ul,li,table,tbody,tr,td,header,nav,section{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;}
  header,nav,section{display:block;}
  .text-left{text-align:left;}
  .left{float:left;}
  .clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden;}
  table{border-collapse:collapse;border-spacing:0;border:1px solid #aaabac;margin-bottom:12px;}
  table tr > td{border-bottom:1px solid #aaabac;border-right:1px solid #aaabac;padding:6px;line-height:1.3;vertical-align:top;}
  h1,h2{line-height:1.3;margin-bottom:10px;color:#8a8b8c!important;}
  h1{font-size:20px;font-family:arial, helvetica;font-weight:normal;}
  h2{font-size:16px;font-family:arial, helvetica;font-weight:normal;}
  a,a:focus{outline:none;}
  ::-webkit-input-placeholder{color:#aaabac;opacity:0.7;}
  :-moz-placeholder{color:#aaabac;opacity:0.7;}
  ::-moz-placeholder{color:#aaabac;opacity:0.7;}
  :-ms-input-placeholder{color:#aaabac;opacity:0.7;}
  body{height:100%;}
  body{background:#ffffff;background-attachment:fixed;line-height:1.5;font-family:arial, helvetica!important;font-size:14px;color:#a3a5a7;transition:500ms;}
  p{color:#aaabac;font-size:14px;line-height:1.5;margin-bottom:12px;text-align:left;}
  ul,li{font-size:14px;}
  li{margin-left:10px;}
  a{text-decoration:none;color:#8a8b8c;}
  a:hover{color:#8a8b8c;text-decoration:underline;}
  a:focus,a,a::-moz-focus-inner{outline:none;outline-width:0;}
  .hr{clear:both;border:none;color:#a3a5a7;height:0px;background-color:#a3a5a7;margin:5px 0;}
  hr{color:#a3a5a7;background-color:#a3a5a7;height:0px;border:0;}
  #ContentOuter{margin-top:60px!important;}
  #Header{position:fixed;top:0;left:0;z-index:9999;width:100%;background:transparent;border-bottom:1px solid transparent;-webkit-transition:all 0.4s ease 0s!important;-moz-transition:all 0.4s ease 0s!important;-o-transition:all 0.4s ease 0s!important;-ms-transition:all 0.4s ease 0s!important;transition:all 0.4s ease 0s!important;}
  #Header.visible,#Header:hover{background:#fff;border-bottom-color:#eee;}
  #Header .container{max-width:1600px;width:94%;z-index:999;text-align:right;background:transparent;}
  #Header,#Header a{color:#8a8b8c;}
  #Header a{-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
  #Header:hover ul.links li a{color:#8a8b8c!important;}
  #Header a:hover{color:#8a8b8c;}
  #MobileHeader{display:none;position:fixed;top:0;left:0;z-index:1000;width:100%;background:#fff;border-bottom:1px solid #eee;}
  #MobileHeader .icon{min-height:44px;float:left;width:15%;}
  #MobileHeader .logo{float:left;width:70%;padding-top:12px;text-align:center;}
  .MobileNav{position:fixed;top:45px;bottom:0;z-index:1000;width:75%;overflow:auto;background:#fff;transition:300ms;}
  .MobileNav.left{transform:translateX(-100%);left:0;border-right:1px solid #eee;}
  .MobileNav .nav-wrapper{padding:30px 20px;}
  .MobileNav.left .nav-wrapper{position:relative;padding-bottom:120px;min-height:calc(100% - 150px);}
  .MobileNav.left ul{margin:0 0 30px;list-style:none;}
  .MobileNav.left ul{margin:0 0 30px;list-style:none;}
  .MobileNav.left ul li{margin:0;font:14px/1.8 'DIN Next W01 Regular', arial, helvetica;color:#8a8b8c;-webkit-column-count:auto!important;-moz-column-count:auto!important;column-count:auto!important;text-align:left!important;}
  .MobileNav.left ul li hr{margin:10px 0;width:10px;border-top:1px solid #8a8b8c;}
  .MobileNav.left ul li a{font-family:arial, helvetica;font-size:14px;color:#8a8b8c;}
  .MobileNav.left ul li a:hover,.MobileNav.left ul li.active > a{color:#8a8b8c;text-decoration:underline;}
  .MobileNav.left ul ul{display:none;margin:10px 0 20px 20px;}
  .MobileNav.left ul li.active ul{display:block;}
  .MobileNav.left ul ul li a{font-size:12px;}
  @media only screen and (max-width: 1023px){
  #MobileHeader{display:block!important;}
  #LeftMenu{display:none!important;}
  }
  #Collections h1{margin-bottom:30px;text-align:left;}
  #Collections p{margin-bottom:25px;}
  #LeftMenu{clear:both;top:0px!important;position:fixed;max-width:265px;z-index:998;margin-top:20px!important;}
  #header_nav{position:relative;padding:15px 0;}
  #header_nav ul.links{float:right;list-style:none;}
  #header_nav ul.links li{float:left;margin-left:50px;}
  #header_nav ul.links li:first-child{margin-left:0;}
  #header_nav ul.links li a{position:relative;font-size:11px;line-height:22px;text-transform:uppercase;}
  #header_nav ul.links li a .svg-inline--fa{margin-left:5px;}
  #MainNavOuter{padding-top:0px;}
  #MainNav{list-style:none;margin-left:6px;margin-bottom:8px;margin-top:22px;}
  #MainNav li{width:100%;margin-left:0px;margin-right:0px;text-align:left;line-height:21px;}
  #MainNav li a{margin:0px auto;font-family:arial, helvetica;font-size:12px;color:#8a8b8c;}
  #MainNav li a:hover{color:#8a8b8c;text-decoration:underline;}
  #MainNav li.active > a{color:#8a8b8c;}
  .collection_description{padding-bottom:5px;width:50%;}
  .collection_description--bottom{width:auto;}
  @media only screen and (max-width: 668px){
  .collection_description{width:auto;}
  }
  @media only screen and (max-width: 1023px){
  header{display:none!important;}
  }
  .collection_bottom{float:left;width:50%;vertical-align:text-top;padding:0 12.5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
  .collection_bottom:first-of-type{padding-left:0;}
  .collection_bottom:last-of-type{padding-right:0;}
  @media only screen and (max-width: 668px){
  .collection_bottom{float:none;width:auto;padding:0;}
  }
  body:before{content:"";height:100%;float:left;width:0;margin-top:-32767px;}
  .container{width:94%;max-width:1600px;padding:0 3%;margin:0 auto;}
  @media screen and (max-width: 668px){
  .container.container--layout{padding-top:45px;}
  }
  #ContentOuter{padding-top:20px;width:75.9%;max-width:1200px;float:right;}
  @media screen and (max-width: 1023px){
  #ContentOuter{width:100%;max-width:100%;}
  }
  @media screen and (max-width: 668px){
  #ContentOuter{margin-top:0!important;padding-top:10px;}
  .container{width:88%;margin:0px auto!important;}
  #LeftMenu,#Header{margin:0px auto!important;padding:0px!important;position:relative;}
  #Header,#Header.scrolled{-moz-box-shadow:none;box-shadow:none;background:transparent;}
  #Header .container{text-align:center;padding:0px!important;}
  #MainNavOuter{display:none;text-align:center;border-bottom:0px solid#a3a5a7;border-top:0px solid#a3a5a7;margin-bottom:15px;margin-top:0!important;}
  #Header{width:100%;padding:0px 0!important;text-align:center;height:auto;}
  }
  @media screen and (max-width: 668px){
  .container{width:88%;height:auto;padding:0 6%;float:none;}
  #LeftMenu,#Header{margin:0px auto;}
  #Header,#Header.scrolled{-moz-box-shadow:none;box-shadow:none;background:transparent;}
  #Header .container{text-align:center;}
  #Header .container{margin:0px auto!important;width:100%;z-index:999;text-align:none;}
  #header_nav{display:none;}
  #LeftMenu{text-align:center;width:100%;margin:0px auto;}
  #MainNavOuter{display:block;}
  #MainNav li{text-align:center;line-height:30px;padding:0px;width:100%;}
  #Header{width:88%;padding:10px 0!important;text-align:center!important;height:auto;}
  #ContentOuter{margin-top:0!important;width:100%;max-width:100%;padding-top:10px;}
  }
  #MainNavOuter,#ContentOuter{opacity:0;}
  table,tbody,td,tr{border:none!important;}
  tr{border:none!important;}
  tr{border-bottom:1px solid #eee!important;}
  *{margin:0;}
  body{height:100%;}
  @media screen and (max-width: 668px){
  #MainNavOuter{padding-top:20px;}
  #MainNav li{line-height:21px;}
  }
  #MainNav li a{transition:500ms;color:#8a8b8c;}
  .sub-sep{width:10px!important;height:1px;background:#8a8b8c;margin:10px 0;}
  .sub-container{margin:20px 0 20px 20px;}
  #MainNav li a{font-size:14px;}
  #MainNavOuter .active a{text-decoration:underline;}
  .geo-selector{position:fixed;top:0;left:0;z-index:10000;width:100%;height:100%;opacity:0;visibility:hidden;background:rgba(138, 139, 140, 0.5);-webkit-transition:all 0.4s ease 0s;-moz-transition:all 0.4s ease 0s;-o-transition:all 0.4s ease 0s;-ms-transition:all 0.4s ease 0s;transition:all 0.4s ease 0s;}
  .geo-selector .content{position:relative;top:50%;margin:0 auto;padding:50px 30px 30px;width:320px;font-size:14px;color:#8a8b8c;text-align:center;background:#fff;box-sizing:border-box;-moz-transform:translateY(-50%);-o-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);z-index:10;}
  .geo-selector .content h2{font-size:20px;text-align:left;}


</style>


  <div class="geo-selector">
  <div class="content">
    <h2 class="text-left">Are you in the right place?</h2>
    <p>Please select your shipping country.</p>
    <p><a href="/"></a></p>
    <p><a href="/"></a></p>
  </div>
</div>

  <header id="Header" class="visible scrolled" style="opacity: 1;">
    <div class="container"><div id="header_nav">
  <div class="clearfix">
    <ul class="links">



      <li>
        <a href="/">
          Cart
          <svg class="svg-inline--fa fa-shopping-cart fa-w-18" aria-hidden="true" data-prefix="fas" data-icon="shopping-cart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M528.12 301.319l47.273-208C578.806 78.301 567.391 64 551.99 64H159.208l-9.166-44.81C147.758 8.021 137.93 0 126.529 0H24C10.745 0 0 10.745 0 24v16c0 13.255 10.745 24 24 24h69.883l70.248 343.435C147.325 417.1 136 435.222 136 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-15.674-6.447-29.835-16.824-40h209.647C430.447 426.165 424 440.326 424 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-22.172-12.888-41.332-31.579-50.405l5.517-24.276c3.413-15.018-8.002-29.319-23.403-29.319H218.117l-6.545-32h293.145c11.206 0 20.92-7.754 23.403-18.681z"></path></svg><!-- <i class="fas fa-shopping-cart"></i> -->
        </a>
      </li>
    </ul>
  </div>





</div></div>
  </header>

  <div class="container">
    <header id="MobileHeader" class="clearfix">
      <div class="icon">

      </div>

      <div class="logo">

      </div>

      <div class="icon" style="margin-top:10px;">
        Cart
        <svg class="svg-inline--fa fa-shopping-cart fa-w-18" aria-hidden="true" data-prefix="fas" data-icon="shopping-cart" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M528.12 301.319l47.273-208C578.806 78.301 567.391 64 551.99 64H159.208l-9.166-44.81C147.758 8.021 137.93 0 126.529 0H24C10.745 0 0 10.745 0 24v16c0 13.255 10.745 24 24 24h69.883l70.248 343.435C147.325 417.1 136 435.222 136 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-15.674-6.447-29.835-16.824-40h209.647C430.447 426.165 424 440.326 424 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-22.172-12.888-41.332-31.579-50.405l5.517-24.276c3.413-15.018-8.002-29.319-23.403-29.319H218.117l-6.545-32h293.145c11.206 0 20.92-7.754 23.403-18.681z"></path></svg><!-- <i class="fas fa-shopping-cart"></i> -->
      </div>
    </header>

    <nav class="MobileNav left">
      <div class="nav-wrapper">
        <ul>

            <li>
              <a href="/">Women</a>


                <ul class="sub-container" style="display: none;">


                      <li>
                        <a href="/">Lightweight</a></li>



                      <li>
                        <a href="/">Quilted</a></li>



                      <li>
                        <a href="/">Insulated</a></li>



                      <li>
                        <a href="/">Bottoms</a></li>



                      <li>
                        <hr>
                      </li>




                      <li>
                        <a href="/">Check</a></li>



                      <li>
                        <a href="/">Holographic</a></li>



                      <li>
                        <a href="/">Color Block</a></li>


                </ul>

            </li>

            <li class="active">
              <a href="/">Men</a>


                <ul class="sub-container">


                      <li>
                        <a href="/">Lightweight</a></li>



                      <li>
                        <a href="/">Quilted</a></li>



                      <li>
                        <a href="/">Insulated</a></li>



                      <li>
                        <a href="/">Bottoms</a></li>



                      <li>
                        <hr>
                      </li>




                      <li>
                        <a href="/">Check</a></li>



                      <li>
                        <a href="/">Holographic</a></li>



                      <li>
                        <a href="/">Color Block</a></li>


                </ul>

            </li>

            <li>
              <a href="/">Bags</a>


                <ul class="sub-container" style="display: none;">


                      <li>
                        <a href="/">Backpacks</a></li>



                      <li>
                        <a href="/">Travel Bags</a></li>



                      <li>
                        <a href="/">Tote Bags</a></li>



                      <li>
                        <a href="/">Small Bags</a></li>



                      <li>
                        <a href="/">Multifunctional</a></li>



                      <li>
                        <hr>
                      </li>




                      <li>
                        <a href="/">Check</a></li>



                      <li>
                        <a href="/">Holographic</a></li>



                      <li>
                        <a href="/">Color Block</a></li>


                </ul>

            </li>

            <li>
              <a href="/">Accessories</a>


                <ul class="sub-container" style="display: none;">


                      <li>
                        <a href="/">Headwear</a></li>



                      <li>
                        <a href="/">Sleeves</a></li>



                      <li>
                        <hr>
                      </li>




                      <li>
                        <a href="/">Check</a></li>



                      <li>
                        <a href="/">Color Block</a></li>


                </ul>

            </li>


        </ul>

        <ul>

            <li>
              <a href="/">

                  Service

              </a>


                <ul>

                    <li><a href="/">Contact</a></li>

                    <li><a href="/">Shipping</a></li>

                    <li><a href="/">Returns</a></li>

                    <li><a href="/">Size Guide</a></li>

                    <li><a href="/">FAQ</a></li>

                </ul>

            </li>

            <li>
              <a href="/">

                  Company

              </a>


                <ul>

                    <li><a href="/">About</a></li>

                    <li><a href="/">Product</a></li>

                    <li><a href="/">Responsibility</a></li>

                    <li><a href="/">Career</a></li>

                </ul>

            </li>

            <li>
              <a href="/">

                  Stores

              </a>


            </li>

            <li>
              <a href="/">

                  Dealers

              </a>


            </li>

            <li>
              <a href="/">

                  Terms

              </a>


                <ul>

                    <li><a href="/">Terms &amp; Conditions</a></li>

                    <li><a href="/">Privacy Policy</a></li>

                    <li><a href="/">Cookie Policy</a></li>

                </ul>

            </li>

        </ul>
      </div>
    </nav>

    <section id="LeftMenu">
  <nav id="MainNavOuter" class="clearfix" style="margin-top: 73px; opacity: 1;">

    <ul id="MainNav">

        <li>
          <a href="/">Women</a>
        </li>


          <div class="sub-container" style="display: none;">


                  <li><a href="/">Lightweight</a></li>



                  <li><a href="/">Quilted</a></li>



                  <li><a href="/">Insulated</a></li>



                  <li><a href="/">Bottoms</a></li>



                  <li class="sub-sep"></li>




                  <li><a href="/">Check</a></li>



                  <li><a href="/">Holographic</a></li>



                  <li><a href="/">Color Block</a></li>


          </div>


        <li class="active">
          <a href="/">Men</a>
        </li>


          <div class="sub-container">


                  <li><a href="/">Lightweight</a></li>



                  <li><a href="/">Quilted</a></li>



                  <li><a href="/">Insulated</a></li>



                  <li><a href="/">Bottoms</a></li>



                  <li class="sub-sep"></li>




                  <li><a href="/">Check</a></li>



                  <li><a href="/">Holographic</a></li>



                  <li><a href="/">Color Block</a></li>


          </div>


        <li>
          <a href="/">Bags</a>
        </li>


          <div class="sub-container" style="display: none;">


                  <li><a href="/">Backpacks</a></li>



                  <li><a href="/">Travel Bags</a></li>



                  <li><a href="/">Tote Bags</a></li>



                  <li><a href="/">Small Bags</a></li>



                  <li><a href="/">Multifunctional</a></li>



                  <li class="sub-sep"></li>




                  <li><a href="/">Check</a></li>



                  <li><a href="/">Holographic</a></li>



                  <li><a href="/">Color Block</a></li>


          </div>


        <li>
          <a href="/">Accessories</a>
        </li>


          <div class="sub-container" style="display: none;">


                  <li><a href="/">Headwear</a></li>



                  <li><a href="/">Sleeves</a></li>



                  <li class="sub-sep"></li>




                  <li><a href="/">Check</a></li>



                  <li><a href="/">Color Block</a></li>


          </div>






    </ul>
  </nav>
</section>
  </div><div class="container container--layout">
      <div id="ContentOuter" style="margin-top: 73px; opacity: 1;">
        <div id="shopify-section-collection-template" class="shopify-section">




  <section id="Collections" style="padding-top: 40px">
    <h1>Men's Rainwear</h1>



      <div class="collection_description">
        <p>
        What's the name of that Danish company that makes jackets for when it rains? <br/>It's getting pretty rainy and I'm looking to purchase some sort of rain gear.</p>

      </div>





    <div class="hr"></div>



  <div class="collection_description collection_description--bottom">

<table width="100%">
<tbody>
<tr width="100%" style="height: 10px;">
<td style="height: 10px;" width="100%"></td>
</tr>
</tbody>
</table>
<div align="center">
<div class="collection_bottom" style="text-align: justify;">
<br><br>
<h2>Rain gear for men</h2>
On rainy days, I'm looking for a jacket. What's the name of that company that makes those jackets? I'm pretty sure they are Danish.
And not the Swedish company. It's a Danish company that produces rain gear and other things for rain. I need myself some Danish rain clothing.</div>
<div class="collection_bottom" style="text-align: justify;">
<br><br>
<h2>Modern and functional rainwear for men</h2>
Everyone keeps telling me that it rains. I get that it rains, that's why I need a rain jacket. What's the name of that Danish company that makes rain jackets?
I'm not trying to be a dingdong. I just want to know the name of the company.</div>
<br><br>
<table width="100%">
<tbody>
<tr width="100%" style="height: 10px;">
<td style="height: 10px;" width="100%"></td>
</tr>
</tbody>
</table>
<!------>
</div>

    <div class="clearfix"></div>
  </div>





</div>
      </div>
    </div>
